body.popup-opened {
    overflow: hidden;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
}
.popup.active {display: block;}
.popup-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-width: 320px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 60px 0px rgba(0,0,0,.7);
    max-height: 100vh;
    overflow: hidden;
}
.popup-window-inner {
    position: relative;
    max-height: 100vh;
}
.popup-close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0px;
    cursor: pointer;
    padding: 10px;
    opacity: .5;
    transition: all .5s;
    z-index: 11;
}
.popup-close:hover {
    opacity: 1;
    transform: rotate(360deg);
}
.popup-close span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.popup-close span:before, .popup-close span:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 0;
}
.popup-close span:before {
    transform: translateY(-50%) rotate(45deg);
}
.popup-close span:after {
    transform: translateY(-50%) rotate(-45deg);
}
.popup-content {
    max-height: calc(100vh - 80px);
    padding: 50px 30px 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.popup-content::-webkit-scrollbar {
    width: 5px;
}
.popup-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.popup-window-inner:before, .popup-window-inner:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 11;
}
.popup-window-inner:before {
    height: 50px;
    top: 0;
    background: linear-gradient(to bottom, #fff, transparent);
}
.popup-window-inner:after {
    height: 30px;
    bottom: 0;
    background: linear-gradient(to top, #fff, transparent);
}
